*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

header {
    position: relative;
    text-align: center;
    
}

.border-box {
border: 1px;
margin: 1em;
padding: 1em;
text-align: center;
}

.song-box {
    border: 1px;
    border-style: solid;
    border-color: black;
    text-align: center;
    padding: 1em;
    display: grid;
}

.form-group {
    display: grid;
}